In [ ]:
#Q1
# m = "Mohit"
# l = ["Mohit", 2.1, True]
# f = 2.1
# t = ("Mohit", 2.1, True)

In [ ]:
#Q2
#(i). Stirng
#(ii). String
#(iii). List
#(iv). Integer

In [ ]:
#Q3
#(i). Division
#(ii). Remainder
#(iii). Floor division
#(iv). Exponential

In [2]:
#Q4
l = [1,2,3,2.1, "Mohit", 1+2j, True, "Dev", 3.56, False]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
2.1
<class 'float'>
Mohit
<class 'str'>
(1+2j)
<class 'complex'>
True
<class 'bool'>
Dev
<class 'str'>
3.56
<class 'float'>
False
<class 'bool'>

In [5]:
#Q6
List = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for a in List:
    if a%3==0:
        print(a)

3
6
9
12
15
18
21
24

In [ ]:
#Q7
#Mutable Data Type: Mutable Data Type is the type of a data which can be changed. For example, a list is a mutable data type.
#Immutable Data Type: Immutable Data Type is the type of a data which can not be changed. For example,tuple and string.